.chatContainer{
  min-width: 900px;
  width: 60vw;
  margin-top: 30px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;

  .noConversationContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    .noConversationText {
      font-size: 32px;
      font-weight: 300;
      color: rgba($color: lightgrey, $alpha: 0.5);
    }
  }
}