.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  .notFoundText {
    font-weight: 300;
    font-size: 72px;
    color: rgba(255, 255, 255, 0.7);
  }
}