.profile {
    min-height: 60vh;
    // height: 600px;
    width: 100%;
    margin: auto;
    border-radius: 35px !important;

}

.coverAndProfile {
    text-align: center;
    position: relative;
    height: 300px;

    .coverImage {
        height: 230px;
        width: 570px;
        
     
    }

    .profileImage {
        width: 150px;
        color: lightcoral;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 150px;
        border-radius: 75px;
    }

}

.profileName {
    text-align: center;
    height: 80px;
    // background-color: rgb(211, 185, 185);
    // height: 200px;

    .name {
        font-weight: bolder;

    }

    .nickName {
        font-size: 13px;
        opacity: .7;
    }
}

.profileDescription {
    font-size: small;
    height: 80px;
    padding-left: 20px;
}

.profileShare {

    width: 500px;
    background-color: lightcoral;
}


.profileContainer {
        width: 60vw;
        margin-top: 30px;
      
        // display: flex;
        margin-left: auto;
        margin-right: auto;
        gap: 30px;
      
}

.heroImage {
   width: 470px;
   border-radius: 12px;
   color: white;
   
   .coverImage {
       width: 470px;
       
    }
}

.heroImageAndSideBar{
    display: flex;
    justify-content: space-between;
}

.shareAndPost {

    width: 470px;
}
    
.heroImage .coverImage {
    width: 470px;
    border-radius: 12px;
} 