.signIn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: whitesmoke !important;
}
.signInWrapper {
  min-width: 900px;
  width: 60vw;
  height: 70vh;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
  padding: 0 30px;
}

.signInLeft {
  flex: 1;
  height: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;

  h1 {
    font-size: 100px;
    font-weight: 700;
  }

  p {
    font-size: 20px;
  }
}
.signInRight {
  align-items: center;
  flex: 1;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px 0;
  .form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .input {
    padding: 10px 0;
    width: 90%;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    background: none;
    color: whitesmoke;
  
    &::placeholder {
      color: rgb(182, 182, 182);
    }
  }
  .input:focus {
    outline: none;
  }
  .button {
    width: 90%;
    // height: 13%;
    padding: 10px 0;
  
    border-radius: 10px;
    color: whitesmoke;
    overflow: hidden;
    cursor: pointer;
  }
  .newAccountButton {
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    color: whitesmoke;
    cursor: pointer;
  }
  .guestAccountButton {
    width: 90%;
    padding: 10px 0;
    border-radius: 10px;
    color: whitesmoke;
    cursor: pointer;
  }
  .signupButtonWrapper,
  .loginButtonWrapper {
    width: 90%;
  }
  .signUpButton {
    margin-bottom: 15px;
  }
  .loginButton {
    margin-bottom: 10px;
    &:focus {
      outline: none;
    }
  }
  .hr {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
  }
  .loginOr {
    margin-bottom: 10px;
  }
}
.loginOrMaybe{
  margin-top: 10px;
  margin-bottom: 10px;

}