.header {
  height: 50px;
  width: 60vw;
  margin: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  color: lightgray;
  padding: 5px 20px;

  .headerLogo {
    flex-grow: 2;
    font-size: 32px;
    font-weight: 600;
  }

  .headerSearch {
    flex-grow: 2.5;
    // text-align: center;

    .searchHeaderInput {
      height: 30px;
    }
    .searchHeaderInput[type='text'] {
      width: 200px;
      border: none;
      border-radius: 20px;
      font-size: 16px;
      color: lightgray;
      // background-position: 10px 10px;
      // background-repeat: no-repeat;
      padding: 12px 20px 12px 10px;
      transition: width 0.4s ease-in-out;
      
      &:focus {
        width: 60%;
        outline: none;
      }

      &::placeholder {
        color: gray;
      }
    }

  }

  .headerIcons {
    flex-grow: 2;
    display: flex;
    align-items: center;

    .homeIcon {
      font-size: 25px;
      color: lightgray;
      // flex-grow: 1;
    }

    .messageIcon {
      font-size: 22px;
      color: lightgray;
      flex-grow: 1;
    }

    .logOut {

      flex-grow: 2;
      text-align: center;
    }

    // .avatarIcon {
    //   color: whitesmoke;
    //   // margin-right: 0;
    //   flex-grow: 2;
    //   font-size: 30px;
    //   text-align: end;
    // }

    .headerUserImage {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
