.chatTop {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}

.messagesContainer {
  flex: 6;
  padding: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  max-height: calc(100vh - 100px);
  height: calc(100vh - 100px);

  color: lightgrey;
}
.message {
  width: 100%;
  // height: max-content;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: space-evenly;
  // border:1px solid black
  
  .messageTop {
    display: flex;
    align-items: flex-start;
    max-width: 60%;
    // border:1px solid black ;
    // height: 100%;
    // width: max-content;
    .messageImg {
      // flex none to disable image shrinking
      flex: none;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      // margin-right: 10px;
    }
      .noImg {
        visibility: hidden;
      }

    .messageTextContainer {
      border-radius: 20px;
      padding: 10px 15px 5px 15px;
      margin: 0 10px 20px 10px;

      .messageText {
        margin-bottom: 10px;
      }

      .messageDate {
        // margin-bottom: 10px;
        font-size: 10px;
        font-weight: 300;
        color: rgba($color: lightgray, $alpha: 0.7);
      }
    }
  }

}

.own {
  align-items: flex-end;

  .messageTop {
    flex-direction: row-reverse;
  }
}
