
.share {

  .shareWrapper {
    min-height: 135px;
    padding: 20px;
    border-radius: 10px;

    .shareHeader {
      display: flex;

      .shareTextField {
        padding: 5px;
        margin-left: 8px;
        height: 50px;
        width: 100%;
        color: wheat;
        resize: none;
        box-shadow: none;
        &::placeholder {
          color: gray;
        }
  
      }
      
      .shareTextField:focus {
        outline: none;
        height: 100px;



      }

      .shareImg {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
        margin-right: 20px;
      }
      .shareInput {
        background: none;
        border: none;
        width: 100%;
        color: lightgray;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: rgb(167, 167, 167);
        }
      }
    }

    .shareBottom {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;

      .shareImageIcon {
        color: white;
        cursor: pointer;
      }

      .shareImageLabel {
        margin-left: 10px;
        color: lightgray;
        font-size: 12px;
        display: flex;
        align-items: center;
        cursor: pointer;

        .shareImageIcon {
          margin-right: 10px;
        }
      }

      .btnPost {
        color: white;
      }
    }

  }
}

input[type="file"] {
  display: none;
}
