.postSection {
    height: 430px;
    width: 38%;
    margin: auto;
    background-color: rgba(243, 174, 174, 0.363);
    padding: 10px;
    

    .postHeader {
        display: flex;
        height: 60px;
        

        .avatarIconPost {
            font-size: 45px;
        }

        .postName {
            font-size: small;
            margin-top: 8px ;
            margin-left: 5px;
        }

       
    }

    .postMain {
        width: 430px ;
        height: 323px;
        margin: auto;
        font-size: small;

        p {
            // width: 100%;
        }

        img {
            margin-top: 15px;
            width: 430px;
        }
    }

    .postFooter {
        width: 430px ;
        margin: auto;
        display: flex;

        p {
            margin-top: 7px;
            margin-left: 7px;
            margin-right: 10px;
            font-size: 11px;

        }
    }


}