.share {
    text-align: center;
    // height: 100px;
    .plusPostIcon {
        font-size: 70px;
        color: slategray;
    }
    
    .shareWrapper {
        background-color: #8175ad98;
        height: 85px;
        width: 37%;
        margin: auto;
        padding: 18px 20px ;
        border-radius: 4px;
        display: flex;
        .avatarIconShare {
            font-size: 50px;
            color: rgb(70, 64, 64);
        }

        .postTextArea {
            width: 400px;
            height: 80px;
        }
    
        
    }
}

.shareInput {
    width: 300px;
    height: 150px;
}

