@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Hide scrollbar for Chrome, Safari and Opera */
.glass::-webkit-scrollbar,
.glass2::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.glass,
.glass2 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, #000000, #150d24, #051a20, #010f24);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  position: relative;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.canvasContainer {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: fixed;
  canvas {
    // position: absolute;
  }
}

.glass {
  /* from top left, to bottom right */
  background: linear-gradient(
    to right bottom,
    rgba(75, 75, 75, 0.7),
    rgba(75, 75, 75, 0.2)
  ) !important;
  border: 1px solid rgba(255, 255, 255, 0.05);
  /* the magic words */
  backdrop-filter: blur(0.1rem) saturate(200%);
  -webkit-backdrop-filter: blur(0.1rem) saturate(200%);
}

.glass2 {
  /* from top left, to bottom right */
  background: linear-gradient(
    to right bottom,
    rgba(100, 100, 125, 0.3),
    rgba(100, 100, 125, 0.1)
  ) !important;
  border: 1px solid rgba(255, 255, 255, 0.05)
  /* the magic words */
  // backdrop-filter: blur(0.01rem) saturate(200%);
  // -webkit-backdrop-filter: blur(0.01rem) saturate(200%);
}

.glass3 {
  /* from top left, to bottom right */
  background: linear-gradient(
    to right bottom,
    rgba(100, 100, 125, 0.7),
    rgba(100, 100, 125, 0.3)
  );
  /* the magic words */
  backdrop-filter: blur(5rem) saturate(100%);
  -webkit-backdrop-filter: blur(5rem) saturate(100%);
}
